body {
   background-color: #eeeeee;
}

a img {
   border: none;
}

table.bg1 {
   background-color: #eeeeee;
}

table.bg2 {
   background-color: #ffffff;
}

td{
  border:1px dotted red;
}

td.permission {
   background-color: #eeeeee;
   padding: 10px 20px 10px 20px;
}

td.permission p {
   font-family: Arial;
   font-size: 11px;
   font-weight: normal;
   color: #333333;
   margin: 0;
   padding: 0;
}

td.permission p a {
   font-family: Arial;
   font-size: 11px;
   font-weight: normal;
   color: #333333;
}

td.body {
   padding: 0 20px 20px 20px;
   background-color: #ffffff;
}

td.sidebar h3 {
   font-family: Arial;
   font-size: 15px;
   font-weight: bold;
   color: #333333;
   margin: 0;
   padding: 0;
}

td.sidebar ul {
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   color: #333333;
   margin: 6px 0 14px 24px;
   padding: 0;
}

td.sidebar ul li a {
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   color: #680606;
}

td.sidebar h4 {
   font-family: Arial;
   font-size: 13px;
   font-weight: bold;
   color: #680606;
   margin: 6px 0 0 0;
   padding: 0;
}

td.sidebar h4 a {
   font-family: Arial;
   font-size: 13px;
   font-weight: bold;
   color: #680606;
   text-decoration: none;
}

td.sidebar p {
   font-family: Arial;
   font-size: 12px;
   font-weight: normal;
   color: #333333;
   margin: 0 0 10px 0;
   padding: 0;
}

td.sidebar p a {
   font-family: Arial;
   font-size: 12px;
   font-weight: normal;
   color: #680606;
   text-decoration: none;
}

td.buttons {
  padding: 20px 0 0 0; 
}

td.mainbar h2 {
   font-family: Arial;
   font-size: 16px;
   font-weight: bold;
   color: #680606;
   margin: 0;
   padding: 0;
}

td.mainbar h2 a {
   font-family: Arial;
   font-size: 16px;
   font-weight: bold;
   color: #680606;
   text-decoration: none;
   margin: 0;
   padding: 0;
}

td.mainbar img.hr {
   margin: 0;
   padding: 0 0 10px 0;
}

td.mainbar p {
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   color: #333333;
   margin: 0 0 14px 0;
   padding: 0;
}

td.mainbar p a {
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   color: #680606;
}

td.mainbar p.more a {
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   color: #680606;
   text-decoration: none;
}

td.mainbar ul {
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   color: #333333;
   margin: 0 0 14px 24px;
   padding: 0;
}

td.mainbar ul li a {
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   color: #680606;
}

td.footer {
   padding: 0 20px 0 20px;
   background-image: url('footer-bg.gif');
   background-repeat: no-repeat;
   background-position: top center;
   background-color: #333333;
   height: 61px;
   vertical-align: middle;
}

td.footer p {
   font-family: Arial;
   font-size: 11px;
   font-weight: normal;
   color: #ffffff;
   line-height: 16px;
   margin: 0;
   padding: 0;
}